In [372]:
import pandas as pd
import sqlite3 
conn = sqlite3.connect('/Users/sandylee/git/flatiron_school_mod_2_project/database.sqlite')
cur = conn.cursor()

In [373]:
all_german_2011_season = cur.execute("""SELECT Matches.Match_ID, HomeTeam, AwayTeam, FTHG, FTAG, FTR
                       From Matches
                       JOIN Teams_in_Matches
                       ON Matches.Match_ID = Teams_in_Matches.Match_ID
                       WHERE Matches.Season = 2011 AND (Matches.Div = "D1" OR Matches.Div = "D2")
                       """)

In [374]:
all_german_2011_season_df = pd.DataFrame(cur.fetchall())
all_german_2011_season_df.columns = [i[0] for i in cur.description]

In [375]:
all_german_2011_season_df

      Match_ID        HomeTeam            AwayTeam  FTHG  FTAG FTR
0         1092        Nurnberg       Bayern Munich     0     1   A
1         1092        Nurnberg       Bayern Munich     0     1   A
2         1093       Stuttgart       Bayern Munich     1     2   A
3         1093       Stuttgart       Bayern Munich     1     2   A
4         1094       Wolfsburg       Bayern Munich     0     1   A
...        ...             ...                 ...   ...   ...  ..
1219      1701   Ein Frankfurt  Fortuna Dusseldorf     1     1   D
1220      1702          Aachen  Fortuna Dusseldorf     0     0   D
1221      1702          Aachen  Fortuna Dusseldorf     0     0   D
1222      1703  Erzgebirge Aue  Fortuna Dusseldorf     2     4   A
1223      1703  Erzgebirge Aue  Fortuna Dusseldorf     2     4   A

[1224 rows x 6 columns]

In [376]:
all_german_2011_season_df.to_csv(r'/Users/sandylee/Desktop/csv.csv')

In [369]:
away_team_wins = cur.execute("""SELECT AwayTeam, SUM(FTAG) AS TotalAwayGoals
                             From Matches
                             JOIN Teams_in_Matches
                             ON Matches.Match_ID = Teams_in_Matches.Match_ID
                             WHERE Matches.Season = 2011 AND (Matches.Div = "D1" OR Matches.Div = "D2") AND FTR = "A"
                             GROUP BY AwayTeam
                             ORDER BY TotalAwayGoals DESC""")

In [370]:
away_team_wins_df = pd.DataFrame(cur.fetchall())
away_team_wins_df.columns = [i[0] for i in cur.description]

In [371]:
away_team_wins_df

              AwayTeam  TotalAwayGoals
0             Dortmund              66
1        Ein Frankfurt              60
2        Bayern Munich              46
3           Schalke 04              40
4            Paderborn              38
5   Fortuna Dusseldorf              38
6           M'gladbach              34
7       Greuther Furth              34
8          Munich 1860              32
9           Leverkusen              30
10            St Pauli              28
11          Hoffenheim              28
12       Frankfurt FSV              28
13           Stuttgart              26
14            Nurnberg              24
15           Wolfsburg              20
16        Union Berlin              20
17              Bochum              20
18            Freiburg              18
19             FC Koln              18
20             Dresden              18
21        Braunschweig              18
22       Werder Bremen              16
23              Hertha              16
24             Hamburg              16
25      Erzgebirge Aue              12
26             Cottbus              12
27               Mainz              10
28      Kaiserslautern               8
29            Duisburg               8
30              Aachen               8
31          Ingolstadt               6
32            Hannover               6
33            Augsburg               6
34           Karlsruhe               4
35       Hansa Rostock               4

In [384]:
home_team_wins = cur.execute("""SELECT HomeTeam, SUM(FTHG) AS TotalHomeGoals
                             From Matches
                             JOIN Teams_in_Matches
                             ON Matches.Match_ID = Teams_in_Matches.Match_ID
                             WHERE Matches.Season = 2011 AND (Matches.Div = "D1" OR Matches.Div = "D2") AND FTR = "H"
                             GROUP BY HomeTeam
                             ORDER BY TotalHomeGoals DESC""")

In [385]:
home_team_wins_df = pd.DataFrame(cur.fetchall())
home_team_wins_df.columns = [i[0] for i in cur.description]

In [386]:
home_team_wins_df

              HomeTeam  TotalHomeGoals
0        Bayern Munich              98
1           Schalke 04              88
2       Greuther Furth              84
3             Dortmund              76
4        Ein Frankfurt              70
5            Stuttgart              62
6             St Pauli              62
7         Union Berlin              58
8   Fortuna Dusseldorf              58
9          Munich 1860              56
10            Hannover              48
11       Werder Bremen              46
12          M'gladbach              46
13           Wolfsburg              44
14           Paderborn              42
15               Mainz              42
16             Dresden              42
17            Duisburg              40
18          Leverkusen              38
19              Bochum              36
20           Karlsruhe              34
21        Braunschweig              34
22          Ingolstadt              30
23            Freiburg              26
24             FC Koln              24
25            Nurnberg              22
26            Augsburg              22
27      Erzgebirge Aue              20
28          Hoffenheim              18
29              Hertha              16
30       Hansa Rostock              16
31             Cottbus              16
32              Aachen              16
33       Frankfurt FSV              14
34             Hamburg              10
35      Kaiserslautern               8

In [ ]:
draw_team_goals = cur.execute("""SELECT HomeTeam, SUM(FTHG) AS TotalHomeGoals
                             From Matches
                             JOIN Teams_in_Matches
                             ON Matches.Match_ID = Teams_in_Matches.Match_ID
                             WHERE Matches.Season = 2011 AND (Matches.Div = "D1" OR Matches.Div = "D2") AND FTR = "H"
                             GROUP BY HomeTeam
                             ORDER BY TotalHomeGoals DESC""")